__pycache__/
graphs/
text_documents/
database_tools.py
policy_drafts.txt
PDFs/
community_summaries.txt
already_saved/
community_summaries.pkl
wordcloud.png
conversation_history.bak
conversation_history.dat
conversation_history.dir
